.game-history {
  padding: 20px;
  background-color: #333334;
  border-radius: 8px;
  width: auto;
  height: auto;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-history-heading {
  text-align: center;
  margin: 10px;
  color: white;
  font-size: 30px;
}

.ant-table {
  margin-top: 20px;
}

.ant-table-thead > tr > th {
  background-color: #001529;
  color: white;
}
